= simple_form_for @contact, html: { class: "form form-horizontal contact" } do |f|
  
  = f.input :name
  = f.input :email
  = f.input :phone
  = f.input :address

  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), contacts_path, :class => 'btn btn-default'
