- model_class = Contact
.page-header
  %h1.title
    = 'Contact.ly'
  %span A basic rails contact app
.row
  - if @contacts.empty?
    %h2 Please add some contacts
    %p You can add contacts by pressing the + button below.
  - else
    .col-md-4
      - @contacts.each do |contact|
        = link_to(contact_path(contact)) do
          %span.name= contact.name
          %span.email= contact.email
          %spam.phone= contact.phone
        .actions
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_contact_path(contact), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), contact_path(contact), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_contact_path, :class => 'btn btn-primary'
